/* * All Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--black-color);
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

/* * Fonts Styles*/

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Bold.ttf);
}

html {
  font-size: 16px;
  font-family: Montserrat;
}

/* * Site Colors */

:root {
  /* ! Main Colors */
  --white-color: #fff;
  --black-color: #000;

  /* ! Other Colors */
  --first-color: #26335d;
  --second-color: #ff6551;
  --thirdh-color: #feb896;
  --fourth-color: #b6d7ff;
  --six-color: #2435a1;
}

/* * Header Styles */

header {
  height: 100vh;
  background: var(--first-color);
}

nav {
  width: 70rem;
  margin: auto;
  height: 4.8115rem;
}

nav,
nav ul,
nav .register {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .name a,
nav ul li a,
nav .register a {
  color: var(--white-color);
}

nav ul {
  gap: 1.3125rem;
}

nav .name {
  font-size: 1.5rem;
}

nav ul li a,
nav .register button {
  font-size: 0.875rem;
}

nav .register button {
  color: var(--white-color);
}

nav .register {
  gap: 2.8125rem;
}

nav .register .log_in button {
  background: transparent;
  border: none;
}

nav .register .sign_up button {
  width: 11.125rem;
  height: 3.25rem;
  background: var(--second-color);
  border-radius: 0.3125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  border: none;
}

/* * Start Styles */

header .start {
  width: 75rem;
  margin: 1rem auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .start-head {
  color: var(--second-color);
  font-weight: 700;
  letter-spacing: 0.00625rem;
}

header .start-body {
  font-size: 3.5rem;
  line-height: 5rem;
  color: var(--white-color);
  font-weight: 700;
  margin: 2rem 0;
  letter-spacing: 0.0125rem;
}

header .start-footer {
  font-size: 1.25rem;
  color: var(--white-color);
  letter-spacing: 0.00625rem;
  font-weight: 400;
  opacity: 0.3;
  margin: 0 0 2rem;
}

header .button .create {
  width: 12.4375rem;
  height: 3.25rem;
  background: var(--second-color);
  color: var(--white-color);
  font-size: 0.875rem;
  border: none;
  font-weight: 700;
  border-radius: 0.3125rem;
}

header .button .info {
  width: 13.75rem;
  height: 3.25rem;
  background: transparent;
  color: var(--second-color);
  font-size: 0.875rem;
  border: 1px solid var(--second-color);
  font-weight: 700;
  border-radius: 0.3125rem;
}

header .start-img {
  position: relative;
  z-index: 1;
}

header .start-img img {
  border-radius: 1rem;
}

header .start-img .figures .restangle {
  position: absolute;
  width: 7.25rem;
  height: 8.625rem;
  background: var(--second-color);
  z-index: -1;
  top: 0%;
  right: -5%;
}

header .start-img .figures .ellipse {
  position: absolute;
  width: 3.6875rem;
  height: 3.6875rem;
  background: var(--thirdh-color);
  border-radius: 50%;
  bottom: -3%;
  z-index: -1;
  left: -5%;
}

/* * Main Styles */

/* ! First Section Styles */

main .first-section {
  width: 100vh;
  height: 100vh;
}

main .first-section .container {
  width: 80%;
  margin: 3rem auto;
}

main .first-section .container-img {
  position: relative;
  z-index: 1;
}

main .first-section .container-img img {
  border-radius: 1rem;
}

main .first-section .restangle {
  position: absolute;
  width: 7.25rem;
  height: 8.625rem;
  background: var(--fourth-color);
  z-index: -1;
  top: -6%;
  right: -5%;
}

main .first-section .ellipse {
  position: absolute;
  width: 3.6875rem;
  height: 3.6875rem;
  background: var(--thirdh-color);
  border-radius: 50%;
  bottom: -3%;
  z-index: -1;
  left: -5%;
}
