@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@400;600;700&family=Poppins:wght@300;400;500;600&family=Work+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

:root {
  --white-clr: #fff;
  --black-clr: #000;
  --first-clr: #26335d;
  --second-clr: #ff6551;
  --thirdh-clr: #2435a1;
  --fourth-clr: #252b42;
  --fifth-clr: #737373;
  --sixth-clr: #e74040;
  --seventh-clr: #ffce31;
  --eigth-clr: #bdbdbd;
  --ninth-clr: #2dc071;
  --tenth-clr: #8ec2f2;
  --eleventh-clr: #e77c40;
  --twelfth-clr: #e6e6e6;
  --thirteenth-clr: #f9f9f9;

  --transition: all 400ms ease;

  --container-width-lg: 80%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* =============== GENEARL STYLES ================*/

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

section {
  margin-top: 8rem;
  padding: 3rem 0;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

button {
  cursor: pointer;
}

a {
  color: var(--white-clr);
}

/*  ============== MEDIA QUERIES (MEDIUM DEVICES) ============== */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}

/*  ============== MEDIA QUERIES (SMALL DEVICES) ============== */

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
}
