.cta {
  display: flex;
  align-items: flex-start;
  gap: 0.625rem;
}

.cta a .cta__1 {
  padding: 0.9375rem 2.5rem;
  border-radius: 0.3125rem;
  background: var(--second-clr);
  border: 1px solid var(--second-clr);
  transition: var(--transition);
  color: var(--white-clr);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.375rem;
  letter-spacing: 0.0125rem;
}

.cta a .cta__1:hover {
  background: transparent;
  border-color: var(--second-clr);
}

.cta a .cta__2 {
  padding: 0.9375rem 2.5rem;
  border-radius: 0.3125rem;
  background: transparent;
  border: 1px solid var(--second-clr);
  transition: var(--transition);
  color: var(--second-clr);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.375rem;
  letter-spacing: 0.0125rem;
}

.cta a .cta__2:hover {
  transform: scale(1.02);
}
